<% layout('layout') %>

<section class="intro row vh-100">
  <div
    class="col-lg-2 col-sm-12 left px-3"
    style="background-color: rgb(225, 157, 108)"
  >
    <details class="px-2">
      <summary>Rate :</summary>
      <form action="/user/<%=id%>/<%=P_id%>" method="POST">
        <fieldset class="starability-basic">
          <input type="radio" id="first-rate1" name="rating" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="rating" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="rating"
            value="3"
            checked
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="rating" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="rating" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        <div class="col-auto form-floating mb-3">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="floatingTextarea"
            style="height: 6em"
            name="comment"
          ></textarea>
          <label for="floatingTextarea">Comment</label>
        </div>
        <button type="submit" class="btn btn-dark mt-2">Add Review</button>
      </form>
    </details>
    <ul class="list-unstyled">
      <h3 class=".h3">Reviews</h3>
      <ul class="list-group list-group-flush">
        <% for( let i = 0; i < reviews.length; i++ ) { %> <% for( let review of
        reviews[i].reviews) { %>
        <li class="list-group-item">
          <h5 class=".h5"><%=review.comments%></h5>
          <p class="starability-result" data-rating="<%=review.rating%>"></p>
          <% if(id == reviews[i].U_id && P_id == reviews[i].P_id) {%>
          <form
            action="/user/<%=id%>/<%=P_id%>/<%=review._id%>?_method=DELETE"
            method="POST"
          >
            <button type="submit" class="btn gg-remove btn-danger"></button>
          </form>
          <% } %>
        </li>
        <% } %> <% } %>
      </ul>
    </ul>
  </div>
  <div class="col-lg-10 col-sm-12 right p-4">
    <div class="position-relative">
      <div class="position-absolute top-0 end-0">
        <a href="/user/<%=id%>/" class="btn btn-info px-3">Back</a>
      </div>
    </div>
    <h1>Tourist Spots Included</h1>
    <% if (data.length==0) { %>
    <h3>No Sights Added Yet!!!</h3>
    <% } else { %>
    <div class="row">
      <% for( let sight of data) { %>
      <div class="card text-bg-dark m-3 p-2" style="max-width: 35rem">
        <div class="row g-0">
          <div class="col-md-5 m-3">
            <%if(sight.images.length == 0) {%>
            <h3>No images added...</h3>
            <%}else {%>
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <%sight.images.forEach((img, i) => {%>
                <div class="carousel-item <%= i===0 ? 'active':''%>">
                  <img
                    src="<%=img.thumbnail%>"
                    class="d-block w-100"
                    alt="xyz"
                  />
                </div>
                <%});%>
              </div>
            </div>
            <%}%>
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title"><%=sight.name%></h5>
              <p class="card-text"><%=sight.description%></p>
            </div>
            <ul class="list-group">
              <li
                class="list-group-item list-group-item-action list-group-item-dark"
              >
                Hotel: <%= sight.hotel %>
              </li>
              <li
                class="list-group-item list-group-item-action list-group-item-dark"
              >
                Location: <%=sight.M_location %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>

    <h1>Transport Facilities</h1>

    <% if (vehicles.length == 0) { %>
    <h3>None Added Yet!!!</h3>
    <% } else { %>
    <table class="table table-dark table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">V_id</th>
          <th scope="col">Vehicle</th>
          <th scope="col">Emergency Contact</th>
          <th scope="col">Additionals Details</th>
        </tr>
      </thead>
      <tbody>
        <% for( let vehicle of vehicles ) { %>
        <tr>
          <th scope="row"><%=vehicle.V_id%></th>
          <td><%=vehicle.type %></td>
          <td><%=vehicle.query_contact %></td>
          <td><%=vehicle.details %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <% } %>
  </div>
</section>
